@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");
/* Palette: https://coolors.co/palette/264653-2a9d8f-e9c46a-f4a261-e76f51 */

/* -------------
//  BASIC RESET
--------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* Typography */
  --ff-quick-sand: "Quicksand", sans-serif;

  --fs-small: 1.4rem;
  --fs-regular: 1.8rem;
  --fs-big: 2.4rem;
  --fs-huge: 4.2rem;

  --fw-regular: 400;
  --fw-medium: 600;
  --fw-bold: 700;

  /* Color */
  --clr-green-dark: #192f37;
  --clr-green-light: #4dada2;
  --clr-orange: #e76f51;
  --clr-orange-tint-01: hsla(12, 76%, 61%, 0.7);
  --clr-orange-light: #f4a261;
  --clr-yellow: #e9c46a;
  --clr-white: #fff;

  /* Border Radius */
  --br-regular: 4px;
  --br-medium: 8px;
}

/* -------------
//  GENERAL
--------------- */

body {
  font-family: var(--ff-quick-sand);
  font-size: var(--fs-regular);
  font-weight: var(--fw-regular);
  background-color: var(--clr-green-dark);
  color: var(--clr-green-light);
}

.btn {
  font-family: inherit;
  font-size: var(--fs-big);
  font-weight: var(--fw-medium);
  background-color: var(--clr-green-dark);
  border: 2px solid var(--clr-green-light);
  border-radius: var(--br-medium);
  color: var(--clr-yellow);
  padding: 0.4em 0.8em;
  cursor: pointer;
}

/* -------------
//  TYPOGRAPHY
--------------- */
h1 {
  font-size: var(--fs-huge);
  font-weight: var(--fw-bold);
  color: var(--clr-green-light);
}

h2 {
  font-size: var(--fs-big);
  font-weight: var(--fw-regular);
}

p {
  font-size: var(--fs-regular);
}

strong {
  font-weight: var(--fw-regular);
}

.home__title {
  letter-spacing: 2px;
  margin-bottom: 0.3em;
}

.home__description {
  letter-spacing: 1px;
  margin-bottom: 2em;
  text-align: center;
}

.home__description > strong {
  color: var(--clr-orange-light);
}

.quiz-setup__title {
  font-size: var(--fs-big);
  margin: 1em 0;
}

.question__title {
  padding-top: 1.5em;
  padding-bottom: 1em;
  line-height: 1.5em;
}

.score__message {
  text-align: center;
  font-size: var(--fs-big);
  margin-bottom: 1em;
}

.score__num {
  color: var(--clr-orange);
}

.score__num-slash {
  color: var(--clr-yellow);
}

/* -------------
//  LAYOUT
--------------- */
.container {
  width: 80vw;
  max-width: 60rem;
  padding-top: 1em;
  margin: 0 auto;
}

.home {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -------------
//  QUIZ SETUP
--------------- */
.category__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}

.category__tag {
  padding: 0.3em 1.3em;
  font-size: var(--fs-small);
  color: var(--clr-orange);
  border: solid 1px var(--clr-orange);
  background-color: var(--clr-green-dark);
  border-radius: var(--br-regular);
  opacity: 0.8;
}

.amount__wrapper {
  display: flex;
  justify-content: center;
}

.amount__input {
  font-size: var(--fs-regular);
  color: var(--clr-yellow);
  padding: 0.5em;
  text-align: center;
  background-color: var(--clr-green-dark);
  border: solid 1px var(--clr-orange);
  border-radius: var(--br-regular);
}

/* -------------
//  QUIZ
--------------- */

.quiz__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
}

.question {
  padding-bottom: 1.5em;
  border-bottom: solid 1px var(--clr-orange-tint-01);
}

.question__options {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.question__opt {
  font-size: var(--fs-regular);
  font-weight: var(--fw-regular);
  padding: 0.8em 1em;
  border: solid 1px var(--clr-white);
  color: var(--clr-white);
  opacity: 0.6;
}

.question__opt--selected {
  border-color: var(--clr-orange-light);
  color: var(--clr-orange-light);
  transition: all 0.3s ease-out;
  opacity: 1;
}

.question__opt--incorrect {
  color: #ff6b6b;
  border-color: #ff6b6b;
  opacity: 0.8;
}
.question__opt--correct {
  color: #8ce99a;
  border-color: #8ce99a;
  opacity: 1;
}

.btn--check-answers {
  font-size: var(--fs-regular);
}

.btn--play-again {
  font-size: var(--fs-regular);
}

@media (min-width: 498px) {
  :root {
    --fs-small: 1.6rem;
    --fs-regular: 2rem;
    --fs-big: 2.4rem;
    --fs-huge: 6.4rem;
  }

  .question__options {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
  }
  .question__opt {
    font-size: var(--fs-regular);
    padding: 0.3em 1em;
  }
}
